body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Arabic Kufi' !important;
}
#slider, #owl-store, #owl-store-mobile {
    direction: ltr;
}
.navbar-brand {
    margin-right: 0;
}
.top_bar .bar_left ul li:not(:last-child) {
    margin-right: 0 !important;
    margin-left: 60px;
}
.top_bar .bar_right ul li:not(:first-child) {
    margin-right: 30px;
    margin-left: 0;
}
.search_btn {
    margin-left: 30px;
    margin-right: 0;
}
.block_icon {
    margin-left: 35px;
    margin-right: 0;
}
.left_fluid .block_content {
    margin-right: auto;
    margin-left: 0;
}
.button_more img {
    margin-right: 10px;
    margin-left: 0;
    transform: rotate(180deg);
}
.button_more:hover img {
    margin-right: 20px;
    margin-left: 0;
}
.pharmacy_wrapper {
    background: url(../assets/images/pharmacy_bg_ar.jpg)no-repeat right;
}
.hospital_wrapper {
    background: url(../assets/images/hospital_bg_ar.jpg)no-repeat right;
}
.slide_wrapper {
    left: auto;
    right: 0;
}
.slide_wrapper p,
.slide_wrapper h3 {
    direction: rtl;
}
.slide_icon {
    right: 40px;
    left: auto;
}
.footer .socials li:not(:last-child) {
    margin-left: 20px;
    margin-right: 0;
}
.footer .right_img {
    margin-right: 50px;
    margin-left: 0;
}
.footer .news_input {
    margin-left: 15px;
    margin-right: 0;
}
.page_content ol > li:before {
    padding-right: 0;
    padding-left: 10px;
}
.list-unstyled {
    padding-right: 0;
}
.colors_icons .group:not(:last-child) {
    margin-left: 20px;
    margin-right: 0;
}
.page_content ul li:before {
    content: '';
    left: auto;
    right: -30px;
}
.product_wrap .buy_now {
    float: left;
}
.alert_form img {
    margin-left: 5px;
    margin-right: 0;
}
.enter_form .info {
    left: 0;
    right: auto;
}
.info_block .jq-file__browse {
    right: auto;
    left: 0;
}
.jq-selectbox__select, .jq-file__name {
    padding: 2px 0px 2px 35px;
}
.multiplefile span img {
    margin-right: 0;
    margin-left: 10px;
}
.checkbox_text {
    padding: 0 35px 0 0;
}
.checkbox_text:before {
    right: 0;
    left: auto;
}
.checkbox_text:after {
    left: auto;
    right: 5px;
}
.radio + label {
    padding: 0 35px 0 0;
}
.radio + label:after {
    left: auto;
    right: 5px;
}
.radio + label:before {
    left: auto;
    right: 0px;
}
.jq-selectbox__trigger {
    left: 0;
    right: auto;
}
.datepicker {
    left: auto;
    right: -10000px;
}
.datepicker.active {
    right: unset;
}
.datepicker-here-ar {
    background: url(../assets/images/icons/calendar.svg)no-repeat left !important;
}
.datepicker--nav {
    direction:ltr;  
}
.jq-selectbox__search input {
    padding: 4px 8px 4px 27px;
    background: url(../assets/images/icons/glass.svg)no-repeat 5% 45%;
    background-size: 15px;
}
.profile_wrapper .info_block .check img, .profile_wrapper .info_block .check svg {
    margin-right: 0;
    margin-left: 5px;
}
.drop-container:hover .drop {
    width: 120px;
    left: auto;
    right: 10px;
}
@media (min-width: 1200px) {
    .right_fluid .block_content {
        margin-right: 30px;
        margin-left: auto;
    }
}
@media (max-width: 1199px) {
    .owl-slide .caption {
        right: auto;
    }
    .footer .right_img {
        margin-right: 25px;
    }
}
@media (max-width: 991px) {
    .navbar {
        direction: ltr;
    }
    .navbar-brand {
        margin-left: 0;
        margin-right: 16px;
    }
    .search_btn {
        margin-left: 0;
        margin-right: 30px;
    }
    .lang_mob ul {
        direction: rtl;
    }
    .footer .left_img {
        margin-left: 13px;
    }
    .footer .right_img {
        margin: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .block_slide .slide_icon {
        right: 30px;
        left: auto;
    }
}
@media (max-width: 767px) {
    .block_slide .slide_icon {
        right: 30px;
        left: auto;
    }
}