@media (min-width: 1500px) and (max-width: 1800px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {

}

@media (min-width: 1200px) {
    .block_content p {
        max-width: 475px;
    }
    .right_fluid .block_content {
        margin-left: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contents {
        min-height: calc(100Vh - 328px);
    }
    .navbar-nav .nav-link {
        font-size: 14px;
    }
    .navbar-nav .nav-link {
        margin: 21px 15px;
    }
    .login_btn a {
        width: 90px;
    }
    .search_btn {
        margin-right: 20px;
    }
    .owl-carousel .owl-next {
        right: 0;
    }
    .owl-carousel .owl-prev {
        left: 0;
    }
    .footer .news_input {
        max-width: 200px;
    }
    .block_content {
        max-width: 450px;
    }
    .block_content h2 {
        margin-bottom: 20px;
    }
    .calculate_wrapper .item .block {
        max-width: 480px;
    }
    .top_bar .bar_left ul li:not(:last-child) {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contents {
        min-height: calc(100Vh - 270px);
    }
    .footer .right_img {
        margin-left: 10px;
    }
    .slide_icon {
        top: 30px;
        left: 30px;
    }
    .slide_wrapper {
        padding: 30px;
    }
    .slide_wrapper p {
        margin-bottom: 0;
    }
    footer {
        padding-bottom: 10px;
    }
    footer [class^="col-"] {
        margin-bottom: 30px;
    }
    .dashboard_list ul,
    .medical_list ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
    .success_wrapper .buttons_wrapper .points {
        font-size: 24px;
        line-height: 30px;    
    }
    .maintenance__block2 .sector {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 992px) {
    .fluid {
        padding-bottom: 40px;
    }
}

@media (min-width: 320px) {

}

@media (max-width: 1199px) {
    .owl-slide .caption {
        position: absolute;
        top: 250px;
        width: auto;
    }
    .slide_btn_wrapper {
        margin-top: 35px;
    }
    .action-buttons .buttons {
        width: 48% !important;
        margin-top: 10px;
    }
    .payment_details {
        margin-bottom: 40px;
    }
    footer .f_head {
        font-size: 20px;
        line-height: 30px;
    }
    .dashboard_documents_wrapper .card_wrapper {
        max-width: 360px;
    }
    .dashboard_documents_wrapper .card_wrapper .item {
        min-height: 218px;
    }
    .page_policies .policies_wrapper .policies .info_block.warning .block_warning {
        position: absolute;
        top: -6px;
        left: 60%;
    }
    .loyalty_page .control_buttons {
        margin-bottom: 20px;
    }
    .loyalty_page .control_buttons label span {
        min-width: 150px;
    }
    .loyalty_page .control_buttons label:first-child {
        margin: 0 10px 0 0;
        width: auto;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 9.5px 15px;
    }
    .navbar-brand {
        font-size: 0;
    }
    #Navbar .hc-nav-1 {
        margin-left: 30px;
    }
    .search_btn,
    .lang_mob,
    .bell {
        margin-right: 20px;
    }
    #hc-nav-1-nav-title,
    .nav-content .level-title {
        font-family: 'Corisande', sans-serif;
        font-style: normal;
        font-weight: bold !important;
        font-size: 30px !important;
        line-height: 1.42 !important;
        text-transform: uppercase;
    }
    body.theme-default .hc-offcanvas-nav .nav-back a {
        font-weight: normal !important;
        font-size: 20px;
        padding: 23px 17px;
    }
    .f_cat {
        font-weight: 600 !important;
        font-size: 22px !important;
        padding: 21.5px 17px !important;
    }
    #hc-nav-1 .nav-close-button {
        display: none;
    }
    .hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
        padding-bottom: 0;
    }
    #Navbar .lang a {
        color: #c4c4c4;
        transition: all .4s ease;
    }
    #Navbar .lang a:hover {
        color: var(--button-hover-color);
        text-decoration: none;
    }
    .search_btn a {
        padding: 9px 0px;
    }
    .breadcrumb_wrapper {
        padding-top: 60px;
    }
    .owl-carousel .owl-next {
        right: 0;
    }
    .owl-carousel .owl-prev {
        left: 0;
    }
    .newsletter, 
    .apps {
        margin-bottom: 30px;
    }
    .owl-slide .caption {
        top: 130px;
    }
    .block_content {
        max-width: 690px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
    }
    .images_blk {
        margin-bottom: 60px;
    }
    .form_wrapper {
        padding-top: 30px;
    }
    .product_wrap .buy_now {
        width: 170px;
    }
    .block_text .table {
        white-space: nowrap;
    }
    .block_video .block_play img {
        width: 70px;
    }
    .block_video .block_play {
        top: calc(50% - 70px/2);
        left: calc(50% - 70px/2);
    }
    .enqury_form .form-group:last-child {
        margin-bottom: 30px;
    }
    .enqury_form .left_form .form-group {
        max-width: 100%;
    }
    .enqury_form textarea {
        min-height: 100px;
        height: 100%;
    }
    .loyalty_page .block_product {
        margin: 20px auto;
        max-width: 375px;
    }
    .tool button {
        display: block;
        margin: 5px auto;
    }
}

@media (max-width: 767px) {
    .contents {
        min-height: calc(100Vh - 220px);
    }
    h2 {
        font-size: 46px;
        line-height: 50px;
    }
    .right_menu {
        margin-left: 0;
    }
    .login_btn a {
        font-size: 12px;
        width: 80px;
        height: 30px;
    }
    footer .list {
        display: none;
    }
    footer .f_head {
        text-align: center;
        margin-bottom: 30px;
    }
    footer .mobile_f_block li {
        margin-bottom: 20px;
    }
    footer .mobile_f_block li a {
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .footer .f_head {
        text-align: center;
    }
    .footer .socials {
        margin-bottom: 30px;
    }
    .footer .right_img {
        margin-left: 13px;
    }
    .footer .block_apps,
    .footer .block_form,
    .footer .news {
        text-align: center;
    }
    .footer .block_soc {
        text-align: center;
    }
    #slider .owl-nav [class*=owl-] {
        height: 45px;
        width: 45px;
    }
    #slider .owl-prev {
        top: calc(95% - 90px);
        left: 15px;
    }
    #slider .owl-next {
        top: calc(95% - 90px);
        right: auto;
        left: 75px;
    }
    .caption .slide_text_top {
        font-size: 60px;
        line-height: 50px;    
    }
    .button_slide {
        width: 120px;
        height: 40px;
    }
    .owl-carousel .owl-next {
        top: calc(74% - 34px / 2);
        right: 15px;
    }
    .owl-carousel .owl-prev {
        top: calc(74% - 34px / 2);
        left: 15px;
    }
    .pagination li .next, .pagination li .prev {
        line-height: 0;
        padding: 14.5px 10.5px;
    }
    .pagination>li>a, .pagination>li>span {
        font-size: 16px;
        padding: 7px 13px;
    }
    .block_wrap:not(:last-child) {
        margin-bottom: 30px;
    }
    .pharmacy_wrapper,
    .hospital_wrapper {
        background-position: 60%;
        padding: 50px 20px 5px 20px;
    }
    .slide_icon {
        top: 30px;
        left: 30px;
        max-width: 60px;
    }
    .slide_wrapper {
        padding: 30px;
    }
    .images_blk {
        margin-bottom: 40px;
    }
    .select_wrap .select_cat {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .submit_btn input {
        width: 150px;
        height: 50px;
    }
    .fixed_butttons {
        position: fixed;
        z-index: 9997;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .fixed_butttons ul {
        display: flex;
        border-radius: 0;
    }
    .fixed_butttons ul li {
        display: block;
        width: 100%;
    }
    .fixed_butttons ul li a {
        padding: 10px;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .fixed_butttons ul li a:before {
        content: '';
        display: none;
    }
    .fixed_butttons ul li a:after {
        content: '';
        display: none;
    }
    .footer {
        padding-bottom: 50px;
    }
    .control_buttons label:first-child {
        margin: 0 0 10px 0;
        width: 100%;
    }
    .control_buttons label:not(:first-child) {
        margin: 0 10px 0 0;
        padding: 12px 0;
    }
    .control_buttons label:last-child {
        margin: 0;
    }
    .calculate_wrapper .item {
        padding: 40px;
    }
    .item_buy {
        position: relative;
        margin: 0 15px;
        right: auto;
        bottom: auto;
    }
    .block_form_wrapper .item {
        padding: 30px;
    }
    .review-information .info_block {
        margin: 10px 0;
    }
    .rev_coupon .form-control {
        margin-top: 10px;
    }
    .rev_coupon .code_btn input {
        margin-top: 20px;
    }
    .price_red {
        font-size: 28px;
        line-height: 28px;
    }
    .payment_btn {
        margin-top: 20px;
    }
    footer .f_head {
        font-size: 24px;
        line-height: 30px;
    }
    footer .mobile_f_block .f_head {
        display: none;
    }
    footer .mobile_f_block {
        text-align: center;
        padding-top: 20px;
    }
    .enter_form .info {
        right: 0;
    }
    .gallery_image a img {
        width: 100%;
    }
    .bell .dropdown-menu {
        width: 100%;
        min-width: 210px;
        max-height: 280px;
    }
    .bell .dropdown-menu ul li {
        padding: 10px 25px 10px 20px;
    }
    .dashboard_list {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .dashboard_head {
        justify-content: center;
    }
    .dashboard_button .edit {
        margin: 20px auto 0;
    }
    .dashboard_button .change {
        margin: auto;
    }
    .dashboard_documents_wrapper .card_wrapper {
        max-width: 380px;
        margin: 10px auto 40px;
    }
    .dashboard_documents_wrapper .card_wrapper .item {
        min-height: 230px;
    }
    .dashboard_documents_wrapper .card_wrapper.medical {
        margin: 0 auto 60px;
    }
    .dashboard_claims_wrapper .block_claim_wrapper .block_head {
        flex-direction: column;
    }
    .dashboard_claims_wrapper .block_claim_wrapper .block_head h4 {
        width: 100%;
        margin-bottom: 15px !important;
    }
    .dashboard_claims_wrapper .block_claim_wrapper .block_head P {
        width: 100%;
        margin-left: 0 !important;
    }
    .dashboard_claims_wrapper .block_claim_wrapper .block_content_claims .info_block {
        margin-bottom: 15px;
    }
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_details_btn a,
    .wallet_inner_page .btn_wrapper .block_back_btn a {
        margin-bottom: 20px !important;
    }
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_details_btn a,
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_btn a,
    .wallet_inner_page .btn_wrapper .block_back_btn a {
        margin: 0 auto;
    }
    .page_policies .policies_wrapper .policies .info_block.warning .block_warning {
        position: absolute;
        top: -6px;
        left: 80%;
    }
    .family_wrapper .block_buttons .remove_btn a {
        justify-content: center !important;
        margin-top: 30px;
    }
    .page_family .dashboard_button_remove a {
        justify-content: center !important;
    }
    .page_family .card_wrapper {
        margin: 25px auto;
    }
    #verify .verification_code .form-group {
        width: 250px;
    }
    #verify .verification_code .form-control {
        letter-spacing: 0.585em;
    }
    .dashboard_transactions_wrapper .table td.remove .cancel {
        width: 17px;
        margin-right: 30px;
    }
    .dashboard_transactions_wrapper .table td.remove .cancel img {
        width: 17px;
        height: 17px;
    }
    .dashboard_transactions_wrapper .table td.remove .continue {
        width: 30px;
        height: 30px;
        box-shadow: 0px 5px 15px rgba(105, 0, 5, 0.3);
    }
    .dashboard_transactions_wrapper .table td.remove .continue img {
        margin-right: 0;
    }
    .table td p {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
    .table td.details p:not(:last-child) {
        padding-bottom: 8px;
    }
    .table td.remove {
        padding: 10px;
    }
    .dashboard_menu,
    .medical_menu {
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    .dashboard_menu button,
    .medical_menu button {
        font-weight: 600;
        font-size: 19px;
        color: var(--global-color) !important;
        width: 100%;
        border: 1px solid var(--global-color);
        text-align: left;
        padding: 12px;
        text-transform: capitalize;
    }
    .dashboard_menu .dropdown-toggle::after,
    .medical_menu .dropdown-toggle::after {
        content: "";
        display: inline-flex;
        margin-left: auto;
        position: relative;
        top: 10px;
    }
    .dashboard_menu .dropdown-menu.show,
    .medical_menu .dropdown-menu.show {
        display: inline-block;
        border: 1px solid var(--global-color);
    }
    .dashboard_menu button:focus,
    .medical_menu button:focus {
        outline: 0;
        box-shadow: none;
    }
    .dashboard_menu .dropdown-item.active, .dashboard_menu .dropdown-item:active,
    .medical_menu .dropdown-item.active, .medical_menu .dropdown-item:active{
        color: #fff;
        text-decoration: none;
        background-color: #A3ABB1;
    }
    .dashboard_menu .dropdown-item:hover,
    .medical_menu .dropdown-item:hover {
        background-color: var(--global-color);
        color: #fff;
    }
    .dashboard_menu .dropdown-item,
    .medical_menu .dropdown-item {
        padding: 8px 20px;
    }
    #edit-step2 .form-check-label {
        margin-bottom: 20px;
    }
    .checbox_wrapper .addons {
        border-top: 1px solid var(--border-color);
        border-left: 0;
        padding-top: 15px;
        padding-left: 15px;
    }
    .addons_blk .info_block {
        margin-bottom: 20px;
    }
    .filter_wrapper {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .filter_head {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .filter_head p {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #908F8F;
    }
    .filter_body {
        display: none;
        margin-top: 20px;
    }
    .medical_wrapper {
        margin-top: 0;
    }
    .items_wrapper .block_head,
    .items_wrapper .block_bottom {
        flex-direction: column;
    }
    .items_wrapper .block_head p {
        margin-bottom: 10px;
    }
    .items_wrapper .block_head h4,
    .items_wrapper .block_bottom p {
        width: 100%;
    }
    .items_wrapper .block_bottom .buttons {
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .jq-selectbox__select, .jq-file__name, .form-control {
        font-size: 16px !important;
    }
    .form-control {
        height: calc(1.5em + .75rem + 4px);
    }
    .page_motor_policy .button_update .buttons,
    .page_motor_policy .block_back_btn a {
        width: 100%;
    }
    .page_motor_policy .button_update .buttons {
        max-width: 190px;
    }
    .page_motor_policy .block_back_btn a {
        max-width: 160px;
    }
    .loyalty_page .control_buttons label span {
        min-width: 160px;
    }
    .loyalty_page .buttons {
        width: auto;
    }
    .success_wrapper .buttons_wrapper .points {
        margin-bottom: 30px;
    }
    .contents_maintenance {
        min-height: calc(100Vh - 257px);
    }
    .maintenance__head {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .maintenance__head .brand img {
        width: 141px;
      }
    .maintenance__footer {
        padding-bottom: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .maintenance__footer .socials {
        margin-bottom: 0;
    }
    .maintenance__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .maintenance__block1 h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .maintenance__block2 .sector {
        width: 75px;
        height: 75px;
        margin: 0 5px;
    }
    .maintenance__block2 .sector__timer {
        font-size: 40px;
        line-height: 40px;
    }
    .maintenance__block2 .sector__text {
        font-size: 12px;
        line-height: 12px;
    }
    .maintenance__block2 {
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .maintenance__block3 a {
        font-size: 40px;
        line-height: 45px;
      }
}

@media (min-width: 568px) and (max-width: 767px) {
    .owl-slide .caption {
        position: absolute;
        top: 100px;
    }
    #slider .owl-prev {
        top: calc(60% - 45px);
        left: 15px;
        right: auto;
    }
    #slider .owl-next {
        top: calc(60% - 45px);
        right: 15px;
        left: auto;
    }
    .select_wrap .select_cat {
        max-width: 255px;
        margin-bottom: 0;
    }
    .dashboard_button .edit {
        margin: 0;
    }
    .dashboard_button .change {
        margin: inherit;
    }
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_details_btn a,
    .wallet_inner_page .btn_wrapper .block_back_btn a {
        margin-bottom: 0 !important;
    }
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_details_btn a,
    .dashboard_wallet_wrapper .wallet_program .btn_wrapper .block_btn a,
    .wallet_inner_page .btn_wrapper .block_back_btn a {
        margin: inherit;
    }
    .page_family .dashboard_head {
        justify-content: start;
    }
}

@media (orientation: landscape) and (max-width: 900px) {

}

/*===============================================================================
	Calculator
===============================================================================*/

@media (max-width: 575.98px) {
    .steps-progress .btn-step-progress.collapsed {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .steps-progress .btn-step-progress.collapsed span {
        display: none;
    }
    .steps-fields {
        margin-top: 40px;
    }
}
@media (min-width: 768px) {
    .btn-step {
        padding: 20px;
    }
    .btn-step:before, .btn-step:after {
        right: 50px;
    }
    .btn-step:after {
        right: 60px;
    }
}
@media (max-width: 767.98px) {
    .container .mob_p-0 {
        padding-right: 0;
        padding-left: 0;
    }
    .btn-step {
        padding: 20px 25px;
    }
    .calc_summary .cal_total_title {
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #FFB8BC;
    }
    .calc_summary .price_red {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #fff;
    }
    .calc_summary .view_info {
        display: none;
    }
    .calc_summary .btn_info:after {
        content: '';
        background: url(assets/images/icons/chewron_down.svg)no-repeat right;
        display: block;
        width: 11px;
        height: 9px;
        position: absolute;
        top: 50px;
        right: 8px;
        transition: all .4s ease;
    }
    .calc_summary .btn_info.open:after {
        content: '';
        transform: rotate(180deg);
    }
    .coverage {
        margin-bottom: 30px;
    }
    .accordion>.card .card-header button {
        top: 0;
        right: -20px;
    }
    .accordion>.card .plan_desc {
        margin-top: 5px;
    }
    #edit-step3 .accordion .card-header .custom-control {
        padding-right: 1.5rem;
    }
    #edit-step3 .buttons {
        width: 100%;
    }
    .family_btn {
        margin-bottom: 20px;
    }
}