html.hc-nav-yscroll {
    overflow-y: scroll;
}
body.hc-nav-open {
    overflow: visible;
    position: fixed;
    width: 100%;
    min-height: 100%;
}
.hc-offcanvas-nav {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9999;
    text-align: left;
}
.hc-offcanvas-nav.is-ios * {
    cursor: pointer !important;
}
.hc-offcanvas-nav .nav-container {
    position: fixed;
    z-index: 9998;
    top: 0;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    transition: transform 0.4s ease;
}
.hc-offcanvas-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}
.hc-offcanvas-nav .nav-content {
    height: 100%;
}
.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
}
.hc-offcanvas-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hc-offcanvas-nav li {
    position: relative;
    display: block;
}
.hc-offcanvas-nav li.level-open > .nav-wrapper {
    visibility: visible;
}
.hc-offcanvas-nav li:not(.custom-content) a {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}
.hc-offcanvas-nav li:not(.custom-content) a[disabled] {
    cursor: not-allowed;
}
.hc-offcanvas-nav li:not(.custom-content) a,
.hc-offcanvas-nav li:not(.custom-content) a:hover {
    text-decoration: none;
}
.hc-offcanvas-nav input[type="checkbox"] {
    display: none;
}
.hc-offcanvas-nav label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}
.hc-offcanvas-nav .nav-item-wrapper {
    position: relative;
}
.hc-offcanvas-nav .nav-item-link {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.hc-offcanvas-nav:not(.user-is-tabbing) .nav-close-button:focus,
.hc-offcanvas-nav:not(.user-is-tabbing) .nav-item-wrapper a:focus {
    outline: none;
}
.hc-offcanvas-nav .nav-close:focus,
.hc-offcanvas-nav .nav-next:focus,
.hc-offcanvas-nav .nav-back:focus {
    z-index: 10;
}
.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
    content: "";
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease 0.4s, opacity 0.4s ease;
}
.hc-offcanvas-nav.disable-body::after {
    position: fixed;
}
.hc-offcanvas-nav .nav-wrapper::after {
    position: absolute;
}
.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.05s;
}
.hc-offcanvas-nav:not(.nav-open)::after {
    pointer-events: none;
}
.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
    display: none;
}
.hc-offcanvas-nav.nav-levels-expand .nav-wrapper.nav-wrapper-0 {
    max-height: 100vh;
}
.hc-offcanvas-nav.nav-levels-expand .nav-wrapper.nav-wrapper-0 > .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 100vh;
}
.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
    min-width: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0s ease 0.4s;
}
.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
    max-height: none;
    overflow: visible;
    visibility: visible;
}
.hc-offcanvas-nav.nav-levels-overlap .nav-content {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 100vh;
}
.hc-offcanvas-nav.nav-levels-overlap .nav-wrapper {
    max-height: 100vh;
}
.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s ease 0.4s, transform 0.4s ease;
}
.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
    position: static;
}
.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease;
}
.hc-offcanvas-nav.nav-position-left {
    left: 0;
}
.hc-offcanvas-nav.nav-position-left .nav-container {
    left: 0;
}
.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(-100%, 0, 0);
}
.hc-offcanvas-nav.nav-position-right {
    right: 0;
}
.hc-offcanvas-nav.nav-position-right .nav-container {
    right: 0;
}
.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
    right: 0;
    transform: translate3d(100%, 0, 0);
}
.hc-offcanvas-nav.nav-position-top {
    top: 0;
}
.hc-offcanvas-nav.nav-position-top .nav-container {
    top: 0;
    width: 100%;
}
.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(0, -100%, 0);
}
.hc-offcanvas-nav.nav-position-bottom {
    top: auto;
    bottom: 0;
}
.hc-offcanvas-nav.nav-position-bottom .nav-container {
    top: auto;
    bottom: 0;
    width: 100%;
}
.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
    left: 0;
    transform: translate3d(0, 100%, 0);
}
.hc-offcanvas-nav.nav-open[class*="hc-nav-"] div.nav-container {
    transform: translate3d(0, 0, 0);
}
.hc-offcanvas-nav.rtl {
    text-align: right;
    direction: rtl;
}
body.theme-default .hc-offcanvas-nav {
    font-family: sans-serif;
}
body.theme-default .hc-offcanvas-nav::after,
body.theme-default .hc-offcanvas-nav .nav-wrapper::after {
    background: rgba(0, 0, 0, 0.3);
}
body.theme-default .hc-offcanvas-nav .nav-container,
body.theme-default .hc-offcanvas-nav .nav-wrapper,
body.theme-default .hc-offcanvas-nav ul {
    background: #fff;
}
body.theme-default .hc-offcanvas-nav .nav-content > h2,
body.theme-default .hc-offcanvas-nav .nav-content > h3,
body.theme-default .hc-offcanvas-nav .nav-content > h4,
body.theme-default .hc-offcanvas-nav .nav-content > h5,
body.theme-default .hc-offcanvas-nav .nav-content > h6 {
    font-size: 19px;
    font-weight: normal;
    padding: 17px 17px;
    color: var(--global-color);
    line-height: normal;
    margin-bottom: 0;
}
body.theme-default .hc-offcanvas-nav .nav-content > h2:not(.nav-title):not(.level-title),
body.theme-default .hc-offcanvas-nav .nav-content > h3:not(.nav-title):not(.level-title),
body.theme-default .hc-offcanvas-nav .nav-content > h4:not(.nav-title):not(.level-title),
body.theme-default .hc-offcanvas-nav .nav-content > h5:not(.nav-title):not(.level-title),
body.theme-default .hc-offcanvas-nav .nav-content > h6:not(.nav-title):not(.level-title) {
    font-size: 16px;
    padding: 15px 17px;
    background: #fff;
}
body.theme-default .hc-offcanvas-nav .nav-item-link,
body.theme-default .hc-offcanvas-nav li.nav-close a,
body.theme-default .hc-offcanvas-nav .nav-back a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 20px 17px;
    font-size: 24px;
    color: #757575;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--border-color);
    transition: background 0.1s ease;
}
body.theme-default .hc-offcanvas-nav .nav-item-link:focus,
body.theme-default .hc-offcanvas-nav .nav-item-link:focus-within,
body.theme-default .hc-offcanvas-nav li.nav-close a:focus,
body.theme-default .hc-offcanvas-nav li.nav-close a:focus-within,
body.theme-default .hc-offcanvas-nav .nav-back a:focus,
body.theme-default .hc-offcanvas-nav .nav-back a:focus-within {
    z-index: 10;
}
body.theme-default .hc-offcanvas-nav .nav-item-link[disabled],
body.theme-default .hc-offcanvas-nav li.nav-close a[disabled],
body.theme-default .hc-offcanvas-nav .nav-back a[disabled] {
    color: rgba(255, 255, 255, 0.5);
}
body.theme-default .hc-offcanvas-nav div.nav-back + ul > li:first-child > .nav-item-wrapper > .nav-item-link {
    border-top: none !important;
}
body.theme-default .hc-offcanvas-nav:not(.touch-device) li:not(.nav-item-custom) a:not([disabled]):hover {
    background: #f7f7f7;
}
body.theme-default .hc-offcanvas-nav li a:hover {
    background: #f7f7f7;
}
body.theme-default .hc-offcanvas-nav .nav-custom-content {
    padding: 14px 17px;
    font-size: 14px;
    border-bottom: 1px solid #2c5d8f;
}
body.theme-default .hc-offcanvas-nav .nav-highlight {
    background: #2e6296;
}
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul:first-of-type > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link {
    border-top: 1px solid var(--border-color);
}
/* body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul:first-of-type > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link + a {
    border-top: 1px solid #2c5d8f;
} */
/* body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul:not(:last-child) {
    border-bottom: 2px solid #2c5d8f;
} */
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h2,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h3,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h4,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h5,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h6 {
    margin-top: -2px;
}
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > h2 + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > h3 + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > h4 + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > h5 + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > h6 + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link {
    border-top: 1px solid #2c5d8f;
}
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-title + h2,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-title + h3,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-title + h4,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-title + h5,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-title + h6,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .level-title + h2,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .level-title + h3,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .level-title + h4,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .level-title + h5,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .level-title + h6,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-close + h2,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-close + h3,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-close + h4,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-close + h5,
body.theme-default .hc-offcanvas-nav .nav-wrapper > .nav-content > .nav-close + h6 {
    border-top: 1px solid #2c5d8f;
}
body.theme-default .hc-offcanvas-nav li {
    color: #fff;
}
body.theme-default .hc-offcanvas-nav li.nav-parent .nav-item-link:last-child {
    padding-right: 58px;
}
body.theme-default .hc-offcanvas-nav li.nav-parent .nav-item-link:not(:last-child) {
    margin-right: 45px;
}
body.theme-default .hc-offcanvas-nav .nav-close-button span,
body.theme-default .hc-offcanvas-nav .nav-parent .nav-next,
body.theme-default .hc-offcanvas-nav .nav-back span {
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    transition: background 0.1s ease;
}
body.theme-default .hc-offcanvas-nav .nav-close-button {
    position: relative;
    display: block;
}
body.theme-default .hc-offcanvas-nav .nav-close-button span::before,
body.theme-default .hc-offcanvas-nav .nav-close-button span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -3px;
    border-top: 2px solid var(--global-color);
    border-left: 2px solid var(--global-color);
}
body.theme-default .hc-offcanvas-nav .nav-close-button span::before {
    margin-left: -9px;
    transform: rotate(135deg);
}
body.theme-default .hc-offcanvas-nav .nav-close-button span::after {
    transform: rotate(-45deg);
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close {
    position: relative;
    z-index: 2;
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close a {
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    text-decoration: none;
    box-sizing: border-box;
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close a:not(.has-label) {
    height: 50px;
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close a.has-label {
    padding: 14px 17px;
    border-top: 1px solid #2c5d8f;
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close a:hover {
    border: none;
    background: radial-gradient(farthest-corner at top right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close.has-label + ul {
    margin-top: -1px;
}
body.theme-default .hc-offcanvas-nav:not(.nav-close-button-empty) .nav-content > .nav-close {
    margin-bottom: -1px;
}
body.theme-default .hc-offcanvas-nav .nav-title + .nav-close a:not(.has-label) {
    position: absolute;
    width: 45px;
    height: 70px;
    line-height: 66px;
    top: -74px;
    right: 0;
}
body.theme-default .hc-offcanvas-nav.nav-close-button-empty .nav-title {
    padding-right: 55px;
}
body.theme-default .hc-offcanvas-nav li.nav-close a:not(.has-label) {
    height: 49px;
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close:first-child a,
body.theme-default .hc-offcanvas-nav .nav-title + .nav-close a.has-label,
body.theme-default .hc-offcanvas-nav li.nav-close a,
body.theme-default .hc-offcanvas-nav .nav-back a {
    background: #f7f7f7;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
body.theme-default .hc-offcanvas-nav .nav-content > .nav-close:first-child a:hover,
body.theme-default .hc-offcanvas-nav .nav-title + .nav-close a.has-label:hover,
body.theme-default .hc-offcanvas-nav li.nav-close a:hover,
body.theme-default .hc-offcanvas-nav .nav-back a:hover {
    background: #f7f7f7;
}
body.theme-default .hc-offcanvas-nav li.nav-close:not(:first-child) a,
body.theme-default .hc-offcanvas-nav li.nav-back:not(:first-child) a {
    margin-top: -1px;
}
body.theme-default .hc-offcanvas-nav a.nav-next {
    /* border-left: 1px solid var(--border-color); */
    border-bottom: 1px solid var(--border-color);
}
body.theme-default .hc-offcanvas-nav .nav-next span::before,
body.theme-default .hc-offcanvas-nav .nav-back span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -5px;
    box-sizing: border-box;
    border-top: 2px solid var(--global-color);
    border-left: 2px solid var(--global-color);
    transform-origin: center;
}
body.theme-default .hc-offcanvas-nav .nav-next span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
body.theme-default .hc-offcanvas-nav .nav-next span::before {
    transform: translate(-50%, -50%) rotate(135deg);
}
body.theme-default .hc-offcanvas-nav .nav-back span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-left.nav-open.nav-levels-overlap .nav-wrapper {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}
body.theme-default .hc-offcanvas-nav.nav-position-right.nav-open.nav-levels-overlap .nav-wrapper {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}
body.theme-default .hc-offcanvas-nav.nav-position-right .nav-next span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-right .nav-back span::before {
    margin-left: -2px;
    transform: translate(-50%, -50%) rotate(135deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body.theme-default .hc-offcanvas-nav.nav-position-top .nav-next span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-top .nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}
body.theme-default .hc-offcanvas-nav.nav-position-bottom .nav-next span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
body.theme-default .hc-offcanvas-nav.nav-position-bottom .nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper,
body.theme-default .hc-offcanvas-nav.nav-levels-none ul .nav-wrapper {
    box-shadow: none;
    background: transparent;
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand li.level-open,
body.theme-default .hc-offcanvas-nav.nav-levels-none li.level-open {
    background: #2e6296;
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > a,
body.theme-default .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > a {
    border-bottom: 1px solid #295887;
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > a:hover,
body.theme-default .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > a:hover {
    background: #2f649a;
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > .nav-next span::before,
body.theme-default .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > a > .nav-next span::before,
body.theme-default .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > .nav-next span::before,
body.theme-default .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > a > .nav-next span::before {
    margin-top: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand .nav-wrapper-1 .nav-item-link,
body.theme-default .hc-offcanvas-nav.nav-levels-none .nav-wrapper-1 .nav-item-link {
    padding-left: calc(17px + 20px * 1);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand .nav-wrapper-2 .nav-item-link,
body.theme-default .hc-offcanvas-nav.nav-levels-none .nav-wrapper-2 .nav-item-link {
    padding-left: calc(17px + 20px * 2);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand .nav-wrapper-3 .nav-item-link,
body.theme-default .hc-offcanvas-nav.nav-levels-none .nav-wrapper-3 .nav-item-link {
    padding-left: calc(17px + 20px * 3);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand .nav-wrapper-4 .nav-item-link,
body.theme-default .hc-offcanvas-nav.nav-levels-none .nav-wrapper-4 .nav-item-link {
    padding-left: calc(17px + 20px * 4);
}
body.theme-default .hc-offcanvas-nav.nav-levels-expand .nav-wrapper-5 .nav-item-link,
body.theme-default .hc-offcanvas-nav.nav-levels-none .nav-wrapper-5 .nav-item-link {
    padding-left: calc(17px + 20px * 5);
}
body.theme-default .hc-offcanvas-nav.rtl a.nav-next {
    border-left: none;
    border-right: 1px solid #2c5d8f;
}
body.theme-default .hc-offcanvas-nav.rtl .nav-title + .nav-close a:not(.has-label),
body.theme-default .hc-offcanvas-nav.rtl .nav-close-button span,
body.theme-default .hc-offcanvas-nav.rtl .nav-next,
body.theme-default .hc-offcanvas-nav.rtl .nav-back span {
    left: 0;
    right: auto;
}
body.theme-default .hc-offcanvas-nav.rtl li.nav-parent .nav-item-link:last-child {
    padding-left: 58px;
    padding-right: 17px;
}
body.theme-default .hc-offcanvas-nav.rtl li.nav-parent .nav-item-link:not(:last-child) {
    margin-left: 45px;
    margin-right: 0;
}
body.theme-default .hc-offcanvas-nav.rtl .nav-wrapper-1 li.nav-item .nav-item-link {
    padding-right: calc(17px + 20px * 1);
}
body.theme-default .hc-offcanvas-nav.rtl .nav-wrapper-2 li.nav-item .nav-item-link {
    padding-right: calc(17px + 20px * 2);
}
body.theme-default .hc-offcanvas-nav.rtl .nav-wrapper-3 li.nav-item .nav-item-link {
    padding-right: calc(17px + 20px * 3);
}
body.theme-default .hc-offcanvas-nav.rtl .nav-wrapper-4 li.nav-item .nav-item-link {
    padding-right: calc(17px + 20px * 4);
}
body.theme-default .hc-offcanvas-nav.rtl .nav-wrapper-5 li.nav-item .nav-item-link {
    padding-right: calc(17px + 20px * 5);
}
body.theme-carbon .hc-offcanvas-nav {
    font-family: sans-serif;
}
body.theme-carbon .hc-offcanvas-nav .nav-container,
body.theme-carbon .hc-offcanvas-nav .nav-wrapper,
body.theme-carbon .hc-offcanvas-nav ul {
    background: #202225;
}
body.theme-carbon .hc-offcanvas-nav::after,
body.theme-carbon .hc-offcanvas-nav .nav-wrapper::after {
    background: rgba(0, 0, 0, 0.3);
}
body.theme-carbon .hc-offcanvas-nav .nav-content {
    padding: 0 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > h2,
body.theme-carbon .hc-offcanvas-nav .nav-content > h3,
body.theme-carbon .hc-offcanvas-nav .nav-content > h4,
body.theme-carbon .hc-offcanvas-nav .nav-content > h5,
body.theme-carbon .hc-offcanvas-nav .nav-content > h6 {
    font-size: 19px;
    font-weight: normal;
    padding: 25px 15px 30px;
    color: #fff;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > h2:first-child,
body.theme-carbon .hc-offcanvas-nav .nav-content > h3:first-child,
body.theme-carbon .hc-offcanvas-nav .nav-content > h4:first-child,
body.theme-carbon .hc-offcanvas-nav .nav-content > h5:first-child,
body.theme-carbon .hc-offcanvas-nav .nav-content > h6:first-child {
    margin-top: 10px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > h2:not(.nav-title):not(.level-title),
body.theme-carbon .hc-offcanvas-nav .nav-content > h3:not(.nav-title):not(.level-title),
body.theme-carbon .hc-offcanvas-nav .nav-content > h4:not(.nav-title):not(.level-title),
body.theme-carbon .hc-offcanvas-nav .nav-content > h5:not(.nav-title):not(.level-title),
body.theme-carbon .hc-offcanvas-nav .nav-content > h6:not(.nav-title):not(.level-title) {
    font-size: 16px;
    padding: 15px 12px;
    text-transform: uppercase;
    color: #b3b3b3;
}
body.theme-carbon .hc-offcanvas-nav .nav-item-link,
body.theme-carbon .hc-offcanvas-nav li.nav-close a,
body.theme-carbon .hc-offcanvas-nav .nav-back a {
    padding: 12px;
    font-size: 15px;
    color: #fff;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: 0.05s background ease;
}
body.theme-carbon .hc-offcanvas-nav .nav-item-link:focus,
body.theme-carbon .hc-offcanvas-nav .nav-item-link:focus-within,
body.theme-carbon .hc-offcanvas-nav li.nav-close a:focus,
body.theme-carbon .hc-offcanvas-nav li.nav-close a:focus-within,
body.theme-carbon .hc-offcanvas-nav .nav-back a:focus,
body.theme-carbon .hc-offcanvas-nav .nav-back a:focus-within {
    z-index: 10;
}
body.theme-carbon .hc-offcanvas-nav .nav-item-link[disabled],
body.theme-carbon .hc-offcanvas-nav li.nav-close a[disabled],
body.theme-carbon .hc-offcanvas-nav .nav-back a[disabled] {
    color: rgba(255, 255, 255, 0.5);
}
body.theme-carbon .hc-offcanvas-nav:not(.touch-device) li:not(.nav-item-custom) a:not([disabled]):hover {
    background: #272a2d;
}
body.theme-carbon .hc-offcanvas-nav .nav-custom-content {
    padding: 12px 15px;
    font-size: 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-highlight > .nav-item-wrapper .nav-item-link {
    border-radius: 5px;
    background: #292c30;
}
body.theme-carbon .hc-offcanvas-nav .nav-wrapper-0 > .nav-content > ul:first-child {
    margin-top: 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-wrapper-0 > .nav-content > ul:not(:last-child) {
    margin-bottom: 18px;
}
body.theme-carbon .hc-offcanvas-nav li {
    color: #fff;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close a:hover,
body.theme-carbon .hc-offcanvas-nav li.nav-back a:hover {
    background: #111213;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close:not(:first-child) a,
body.theme-carbon .hc-offcanvas-nav li.nav-back:not(:first-child) a {
    margin-top: -1px;
}
body.theme-carbon .hc-offcanvas-nav li.nav-parent .nav-item-link:last-child {
    padding-right: 62px;
}
body.theme-carbon .hc-offcanvas-nav li.nav-parent .nav-item-link:not(:last-child) {
    margin-right: 52px;
}
body.theme-carbon .hc-offcanvas-nav .nav-close-button span,
body.theme-carbon .hc-offcanvas-nav .nav-parent .nav-next,
body.theme-carbon .hc-offcanvas-nav .nav-back span {
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease;
}
body.theme-carbon .hc-offcanvas-nav .nav-close-button {
    position: relative;
    display: block;
}
body.theme-carbon .hc-offcanvas-nav .nav-close-button span::before,
body.theme-carbon .hc-offcanvas-nav .nav-close-button span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
body.theme-carbon .hc-offcanvas-nav .nav-close-button span::before {
    margin-left: -9px;
    transform: rotate(135deg);
}
body.theme-carbon .hc-offcanvas-nav .nav-close-button span::after {
    transform: rotate(-45deg);
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close a {
    height: 44px;
    font-size: 15px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    z-index: 1;
    text-decoration: none;
    box-sizing: border-box;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close a.has-label {
    padding: 12px 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close a:hover {
    background: #25272a;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child {
    position: relative;
    min-height: 40px;
    margin-top: 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child + ul {
    margin-top: 15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a.has-label {
    margin-bottom: -15px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 0;
    right: 0;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + ul {
    margin-top: 60px;
}
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + h2,
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + h3,
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + h4,
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + h5,
body.theme-carbon .hc-offcanvas-nav .nav-content > .nav-close:first-child a:not(.has-label) + h6 {
    margin-top: 55px;
}
body.theme-carbon .hc-offcanvas-nav .nav-title + .nav-close a:not(.has-label) {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 28px;
    right: 15px;
}
body.theme-carbon .hc-offcanvas-nav.nav-close-button-empty .nav-title {
    padding-right: 46px;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close:first-child {
    padding-bottom: 15px;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close .nav-close-button.has-label {
    margin-bottom: -15px;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close .nav-close-button:not(.has-label) {
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: right;
}
body.theme-carbon .hc-offcanvas-nav li.nav-close .nav-item-wrapper::after {
    content: "";
    display: table;
    clear: both;
}
body.theme-carbon .hc-offcanvas-nav a.nav-next {
    position: relative;
}
body.theme-carbon .hc-offcanvas-nav a.nav-next:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    left: -7px;
    top: 9px;
    background: #4d4d4d;
    border-radius: 2px;
}
body.theme-carbon .hc-offcanvas-nav .nav-next span::before,
body.theme-carbon .hc-offcanvas-nav .nav-back span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-left: -2px;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform-origin: center;
}
body.theme-carbon .hc-offcanvas-nav .nav-next span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
body.theme-carbon .hc-offcanvas-nav .nav-next span::before {
    transform: translate(-50%, -50%) rotate(135deg);
}
body.theme-carbon .hc-offcanvas-nav .nav-back span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-left.nav-open.nav-levels-overlap .nav-wrapper {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-right.nav-open.nav-levels-overlap .nav-wrapper {
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-right .nav-next span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-right .nav-back span::before {
    margin-left: -2px;
    transform: translate(-50%, -50%) rotate(135deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-top .nav-next span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-top .nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-bottom .nav-next span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-position-bottom .nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-levels-overlap ul ul:first-child {
    margin-top: 15px;
}
body.theme-carbon .hc-offcanvas-nav.nav-levels-expand .nav-content .nav-content,
body.theme-carbon .hc-offcanvas-nav.nav-levels-none .nav-content .nav-content {
    padding: 0;
}
body.theme-carbon .hc-offcanvas-nav.nav-levels-expand .nav-wrapper .nav-wrapper,
body.theme-carbon .hc-offcanvas-nav.nav-levels-none .nav-wrapper .nav-wrapper {
    width: auto;
    position: relative;
    margin-left: 20px;
}
body.theme-carbon .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > .nav-next span::before,
body.theme-carbon .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-item-wrapper > a > .nav-next span::before,
body.theme-carbon .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > .nav-next span::before,
body.theme-carbon .hc-offcanvas-nav.nav-levels-none li.level-open > .nav-item-wrapper > a > .nav-next span::before {
    margin-top: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
}
body.theme-carbon .hc-offcanvas-nav.nav-levels-expand li.level-open > .nav-wrapper::before,
body.theme-carbon .hc-offcanvas-nav.nav-levels-none li .nav-wrapper::before {
    content: "";
    position: absolute;
    width: 2px;
    left: -7px;
    top: 5px;
    bottom: 5px;
    background: #4d4d4d;
    border-radius: 2px;
}
body.theme-carbon .hc-offcanvas-nav.rtl .nav-wrapper .nav-wrapper {
    margin-left: 0;
    margin-right: 20px;
}
body.theme-carbon .hc-offcanvas-nav.rtl a.nav-next:before {
    left: auto;
    right: -7px;
}
body.theme-carbon .hc-offcanvas-nav.rtl .nav-title + .nav-close a:not(.has-label) {
    left: 15px;
    right: auto;
}
body.theme-carbon .hc-offcanvas-nav.rtl .nav-close-button span,
body.theme-carbon .hc-offcanvas-nav.rtl .nav-next,
body.theme-carbon .hc-offcanvas-nav.rtl .nav-back span {
    left: 0;
    right: auto;
}
body.theme-carbon .hc-offcanvas-nav.rtl li.nav-parent .nav-item-link:last-child {
    padding-left: 62px;
    padding-right: 12px;
}
body.theme-carbon .hc-offcanvas-nav.rtl li.nav-parent .nav-item-link:not(:last-child) {
    margin-left: 52px;
    margin-right: 0;
}
body.theme-carbon .hc-offcanvas-nav.rtl.nav-levels-expand li.level-open > .nav-wrapper::before,
body.theme-carbon .hc-offcanvas-nav.rtl.nav-levels-none li .nav-wrapper::before {
    left: auto;
    right: -7px;
}
#main-nav {
    display: none;
}
header {
    position: relative;
}
header h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 8px;
}
header h2 {
    max-width: 680px;
    margin: auto;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
header .git {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px 4px 0;
    font-size: 15px;
    font-weight: 400;
    color: #fffce1;
    background: #54b9cb;
    transition: background 0.15s ease-in-out;
}
header .git:hover {
    background: #4ca8b9;
}
header .git:hover svg {
    border-color: #54b9cb;
}
header .git svg {
    width: 15px;
    height: 15px;
    fill: #fffce1;
    position: relative;
    top: 2px;
    padding: 0 10px;
    margin-right: 10px;
    border-right: 1px solid #4daabb;
    transition: border-color 0.15s ease-in-out;
}
header .ver {
    padding-top: 15px;
    font-weight: 200;
    color: #dab977;
}
header .ver span {
    color: #fffce1;
}
header .toggle {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    top: 20px;
    z-index: 9980;
    width: 35px;
    min-height: 26px;
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    float: left;
    display: block;
    cursor: pointer;
    box-sizing: content-box;
    font-size: 18px;
    padding-left: 35px;
    line-height: 22px;
    margin-top: 0;
    margin-left: 20px;
    color: #fff;
    text-align: left;
    text-decoration: none;
}
header .toggle span {
    width: 35px;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 50% 50%;
}
header .toggle span,
header .toggle span::before,
header .toggle span::after {
    display: block;
    position: absolute;
    left: 0;
    height: 2px;
    background: var(--global-text-color);
    transition: all 0.25s ease;
}
header .toggle span::before,
header .toggle span::after {
    content: "";
    width: 100%;
}
header .toggle span::before {
    top: -11px;
}
header .toggle span::after {
    bottom: -11px;
}
header .toggle.toggle-open span {
    background: rgba(0, 0, 0, 0);
    transform: rotate(45deg);
}
header .toggle.toggle-open span::before {
    transform: translate3d(0, 11px, 0);
}
header .toggle.toggle-open span::after {
    transform: rotate(-90deg) translate3d(11px, 0, 0);
}
header .toggle:hover span,
header .toggle:hover span::before,
header .toggle:hover span::after {
    background: var(--global-text-color);
}
header .toggle i {
    font-size: 10px;
    display: block;
    line-height: 10px;
    opacity: 0.7;
}

footer .swm {
    display: inline-block;
    padding: 0 15px;
}
footer .swm svg {
    display: block;
    width: auto;
    height: 17px;
    margin-top: 22px;
}
footer .swm svg path {
    transition: fill 0.1s ease;
}
footer .swm svg .l-1 {
    fill: #4fb5e1;
}
footer .swm svg .l-2 {
    fill: #f2c053;
}
footer .swm svg .l-3 {
    fill: #a7ce38;
}
footer .swm:not(:hover) svg .l-1 {
    fill: #466e8d;
}
footer .swm:not(:hover) svg .l-2 {
    fill: #9db9cf;
}
footer .swm:not(:hover) svg .l-3 {
    fill: #5989ad;
}
main .content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* main h4:first-child {
    margin-top: 30px;
} */
main .actions {
    margin: 0 -15px;
    text-align: center;
}
main .actions div {
    padding: 0 15px 20px;
    box-sizing: border-box;
}
@media screen and (min-width: 800px) {
    main .actions:not(.theme) {
        display: flex;
        flex-wrap: wrap;
    }
    main .actions:not(.theme) div {
        float: left;
        flex: 1 1 33.33%;
        max-width: 33.33%;
    }
    main .actions:not(.theme).position div {
        float: left;
        flex: 1 1 25%;
        max-width: 25%;
    }
    main .actions.theme::after {
        content: "";
        display: table;
        clear: both;
    }
    main .actions.theme div {
        float: left;
    }
}
main .actions.checkboxes {
    text-align: left;
    padding-top: 8px;
}
main .actions.checkboxes label {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
main .actions.checkboxes label input {
    display: none;
}
main .actions.checkboxes label input:checked ~ span {
    background: #dab977;
}
main .actions.checkboxes label input:checked ~ span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    border: solid #243949;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px 2px;
    transform: translate(-50%, -50%) rotate(45deg);
}
main .actions.checkboxes label span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 22px;
    height: 22px;
    background: #fffce1;
    margin-right: 12px;
    vertical-align: top;
    transition: all 0.1s ease;
}
main .button {
    position: relative;
    display: block;
    padding: 18px 30px 16px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    text-decoration: none;
    color: #243949;
    cursor: pointer;
    background: #fffce1;
    border-radius: 30px/80px;
    transition: all 0.1s ease;
}
main .button:not(.active):hover {
    color: #d5af63;
}
main .button.active {
    background: #dab977;
}
main .thumb {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border: 4px solid #fffce1;
    border-radius: 5px;
    background-size: cover;
}
main .thumb.active {
    border-color: #dab977;
}
.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
    padding-bottom: 41px;
}
.hc-offcanvas-nav h2 ~ ul > li.search .nav-custom-content {
    padding-top: 0;
}
.hc-offcanvas-nav.rtl .nav-item-link::before {
    margin-left: 15px;
    margin-right: 0 !important;
}
.hc-offcanvas-nav.rtl .nav-item.collections > .nav-item-wrapper .nav-item-link span {
    float: left;
}
.hc-offcanvas-nav li .custom-message {
    font-size: 12px;
}
.hc-offcanvas-nav li .custom-message a {
    color: #fff;
    font-size: 13px;
}
.hc-offcanvas-nav li .custom-message a:hover {
    text-decoration: none;
}
/* .hc-offcanvas-nav li.add > .nav-item-wrapper a::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "add";
}
.hc-offcanvas-nav li.new > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "fiber_new";
}
.hc-offcanvas-nav li.cryptocurrency > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "local_atm";
}
.hc-offcanvas-nav li.devices > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "devices";
}
.hc-offcanvas-nav li.mobile > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "phone_android";
}
.hc-offcanvas-nav li.television > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "desktop_windows";
}
.hc-offcanvas-nav li.camera > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "camera_alt";
}
.hc-offcanvas-nav li.magazines > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "import_contacts";
}
.hc-offcanvas-nav li.store > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "store";
}*/
.hc-offcanvas-nav li.collections > .nav-item-wrapper .nav-item-link span {
    font-size: 70%;
    line-height: 15px;
    height: 15px;
    padding: 0 4px;
    float: right;
    background: #ff635a;
    border-radius: 2px;
    margin-top: 2px;
}
/*.hc-offcanvas-nav li.collections > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "collections";
}
.hc-offcanvas-nav li.nolink > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "format_clear";
}
.hc-offcanvas-nav li.disabled > .nav-item-wrapper .nav-item-link::before {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-indent: 0;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 15px;
    font-size: 23px;
    vertical-align: top;
    speak: never;
    content: "block";
} */
.hc-offcanvas-nav.nav-position-top ul.bottom-nav,
.hc-offcanvas-nav.nav-position-bottom ul.bottom-nav {
    position: relative;
    border-top: none;
}
.hc-offcanvas-nav.nav-position-top .nav-wrapper-0 > .nav-content,
.hc-offcanvas-nav.nav-position-bottom .nav-wrapper-0 > .nav-content {
    padding-bottom: 0;
}
.hc-offcanvas-nav ul.bottom-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.hc-offcanvas-nav ul.bottom-nav li {
    flex: auto;
}
.hc-offcanvas-nav ul.bottom-nav li a {
    padding: 10px;
    text-align: center;
    height: 100%;
    border-bottom: none;
}
.hc-offcanvas-nav ul.bottom-nav li svg {
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
}
.hc-offcanvas-nav ul.bottom-nav li.github svg {
    width: 17px;
    height: 17px;
}
.hc-offcanvas-nav ul.bottom-nav li.ko-fi svg {
    width: 21px;
    height: 21px;
}
.hc-offcanvas-nav ul.bottom-nav li.email svg {
    width: 19px;
    height: 19px;
}
body.theme-default .hc-offcanvas-nav .second-nav {
    border-bottom: none !important;
}
